{
    "godcmd": {
        "password": "",
        "admin_users": []
    },
    "banwords": {
        "action": "replace",
        "reply_filter": true,
        "reply_action": "ignore"
    },
    "tool": {
        "tools": [
            "python",
            "url-get",
            "terminal",
            "meteo-weather"
        ],
        "kwargs": {
            "top_k_results": 2,
            "no_default": false,
            "model_name": "gpt-3.5-turbo"
        }
    },
    "linkai": {
        "group_app_map": {
            "测试群1": "default",
            "测试群2": "Kv2fXJcH"
        },
        "midjourney": {
            "enabled": true,
            "auto_translate": true,
            "img_proxy": true,
            "max_tasks": 3,
            "max_tasks_per_user": 1,
            "use_image_create_prefix": true
        },
 "summary": {
        "enabled": true,              # 文档总结和对话功能开关
        "group_enabled": true,        # 是否支持群聊开启
        "max_file_size": 5000,        # 文件的大小限制，单位KB，默认为5M，超过该大小直接忽略
        "type": ["FILE", "SHARING", "IMAGE"]  # 支持总结的类型，分别表示 文件、分享链接、图片
    }
    }
}
